@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");

:root {
  --from-background-color: #331b2f;
  --to-background-color: #080a15;
  --text-color: #f4f4f7;
  --header-from-background-color: #2b6989;
  --header-to-background-color: #de5c21;
  --button-background-color: #de5c21;
  --button-color: #2b6989;
  --button-box-shadow: #72327674;
}

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: linear-gradient(
    to bottom,
    var(--from-background-color),
    var(--to-background-color)
  );
  background-color: var(--from-background-color);
  font-family: Arial, sans-serif;
  color: var(--text-color);
  height: 100%;
}

main {
  height: 100%;
  overflow: scroll;
}

.hate {
  display: flex;
  justify-content: center;
  height: auto;
}
header {
  background-image: linear-gradient(
    to right,
    var(--header-from-background-color),
    var(--header-to-background-color)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
  font-size: 3vh;
  font-family: "Bagel Fat One", cursive;
  margin: 30px;
  height: auto;
  width: 40vh;
}

.monkey-image {
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 20px 0 20px 0;
}

.container-name-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: auto;
}

.button {
  font-size: 1.5em;
  color: var(--text-color);
  height: auto;
  box-shadow: inset 0 0 0 0 var(--button-background-color);
  background-color: transparent;
  border: none;
  margin-top: 1em;
  padding: 0.5em 1em;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-decoration: none;
}

.button:hover {
  box-shadow: inset 250px 0 0 0 var(--button-background-color);
  border-radius: 30px;
  color: var(--text-color);
}

.form {
  display: flex;
  flex-direction: column;
  height: auto;
}

.label {
  height: auto;
}

.form-button {
  margin: 30px;
}

.form input {
  padding: 0.5em;
  font-size: 1em;
  border-radius: 10px;
  text-align: center;
  height: 30px;
  margin: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}

.bubble-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
}

.text-box {
  height: 6vh;
  margin: 10px;
  font-size: 2.5vh;
}

.bubble {
  /* text-transform: uppercase; */
  text-decoration: none;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  font-size: 2vh;
  padding: 15px 50px;
  margin: 15px;
  height: auto;
  box-shadow: 4px 8px 8px #72327674;
}

.bubble:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.bubble:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.bubble-white {
  background-color: var(--button-color);
}

.bubble::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.bubble-white::after {
  background-color: var(--button-background-color);
}

.bubble:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.bubble-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.playlist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
  height: auto;
}

.playlist-title {
  width: 15vh;
  height: auto;
}

.images {
  height: 17vh;
  padding: 10px;
}

.image-title {
  height: auto;
}

.spotify-player {
  height: auto;
}

.player {
}

h2,
h1 {
  height: auto;
  padding: 5px;
  margin: 5px;
}

@media only screen and (min-width: 700px) {
  .bubble-container {
    margin-top: 100px;
    max-width: 1400px;
  }

  .bubble {
    margin: 35px;
  }

  .playlist {
    max-width: 800px;
  }

  .monkey-image {
    max-width: 650px;
  }
}
